<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.michaelmuenzer.android.scrollablenumberpicker">

    <application android:allowBackup="true"
                 android:fullBackupContent="@xml/backup_descriptor"
                 android:icon="@mipmap/ic_launcher"
                 android:label="@string/app_name"
                 android:supportsRtl="true" android:theme="@style/Theme.Leanback"
                 tools:ignore="GoogleAppIndexingWarning">

    </application>
</manifest>
